<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>normalImage</key>
		<string>category_e_beauty_normal</string>
		<key>selectImage</key>
		<string>category_e_beauty_selected</string>
		<key>name</key>
		<string>美容</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_books_normal</string>
		<key>selectImage</key>
		<string>category_e_books_selected</string>
		<key>name</key>
		<string>书籍</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_car_normal</string>
		<key>selectImage</key>
		<string>category_e_car_selected</string>
		<key>name</key>
		<string>汽车</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_catering_normal</string>
		<key>selectImage</key>
		<string>category_e_catering_selected</string>
		<key>name</key>
		<string>餐饮</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_child_normal</string>
		<key>selectImage</key>
		<string>category_e_child_selected</string>
		<key>name</key>
		<string>孩子</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_commodity_normal</string>
		<key>selectImage</key>
		<string>category_e_commodity_selected</string>
		<key>name</key>
		<string>日用</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_communicate_normal</string>
		<key>selectImage</key>
		<string>category_e_communicate_selected</string>
		<key>name</key>
		<string>通讯</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_digital_normal</string>
		<key>selectImage</key>
		<string>category_e_digital_selected</string>
		<key>name</key>
		<string>数码</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_donate_normal</string>
		<key>selectImage</key>
		<string>category_e_donate_selected</string>
		<key>name</key>
		<string>捐赠</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_dress_normal</string>
		<key>selectImage</key>
		<string>category_e_dress_selected</string>
		<key>name</key>
		<string>服饰</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_elder_normal</string>
		<key>selectImage</key>
		<string>category_e_elder_selected</string>
		<key>name</key>
		<string>长辈</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_entertainmente_normal</string>
		<key>selectImage</key>
		<string>category_e_entertainmente_selected</string>
		<key>name</key>
		<string>娱乐</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_express_normal</string>
		<key>selectImage</key>
		<string>category_e_express_selected</string>
		<key>name</key>
		<string>快递</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_friend_normal</string>
		<key>selectImage</key>
		<string>category_e_friend_selected</string>
		<key>name</key>
		<string>亲友</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_fruite_normal</string>
		<key>selectImage</key>
		<string>category_e_fruite_selected</string>
		<key>name</key>
		<string>水果</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_gift_normal</string>
		<key>selectImage</key>
		<string>category_e_gift_selected</string>
		<key>name</key>
		<string>礼物</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_home_normal</string>
		<key>selectImage</key>
		<string>category_e_home_selected</string>
		<key>name</key>
		<string>住房</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_lottery_normal</string>
		<key>selectImage</key>
		<string>category_e_lottery_selected</string>
		<key>name</key>
		<string>彩票</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_medical_normal</string>
		<key>selectImage</key>
		<string>category_e_medical_selected</string>
		<key>name</key>
		<string>医疗</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_money_normal</string>
		<key>selectImage</key>
		<string>category_e_money_selected</string>
		<key>name</key>
		<string>礼金</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_office_normal</string>
		<key>selectImage</key>
		<string>category_e_office_selected</string>
		<key>name</key>
		<string>办公</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_pet_normal</string>
		<key>selectImage</key>
		<string>category_e_pet_selected</string>
		<key>name</key>
		<string>宠物</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_repair_normal</string>
		<key>selectImage</key>
		<string>category_e_repair_selected</string>
		<key>name</key>
		<string>维修</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_shopping_normal</string>
		<key>selectImage</key>
		<string>category_e_shopping_selected</string>
		<key>name</key>
		<string>购物</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_smoke_normal</string>
		<key>selectImage</key>
		<string>category_e_smoke_selected</string>
		<key>name</key>
		<string>烟酒</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_snack_normal</string>
		<key>selectImage</key>
		<string>category_e_snack_selected</string>
		<key>name</key>
		<string>零食</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_social_normal</string>
		<key>selectImage</key>
		<string>category_e_social_selected</string>
		<key>name</key>
		<string>社交</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_sport_normal</string>
		<key>selectImage</key>
		<string>category_e_sport_selected</string>
		<key>name</key>
		<string>运动</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_study_normal</string>
		<key>selectImage</key>
		<string>category_e_study_selected</string>
		<key>name</key>
		<string>学习</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_traffic_normal</string>
		<key>selectImage</key>
		<string>category_e_traffic_selected</string>
		<key>name</key>
		<string>交通</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_travel_normal</string>
		<key>selectImage</key>
		<string>category_e_travel_selected</string>
		<key>name</key>
		<string>旅行</string>
	</dict>
	<dict>
		<key>normalImage</key>
		<string>category_e_vegetable_normal</string>
		<key>selectImage</key>
		<string>category_e_vegetable_selected</string>
		<key>name</key>
		<string>蔬菜</string>
	</dict>
</array>
</plist>
